@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Inter, system-ui, Arial, sans-serif;
  background-color: #f3f4f6;
}

h1, h2, h3 {
  letter-spacing: -0.02em;
}

button {
  cursor: pointer;
}
